{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h5>{{ 'currency_table_date' | trans }} {{ date }}</h5>
    <table class="table table-bordered table-hover">
        <thead class="table-header">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{{ 'currency' | trans }}</th>
                <th scope="col">{{ 'buy_rate' | trans }}</th>
                <th scope="col">{{ 'sell_rate' | trans}}</th>
                <th scope="col">{{ 'spread' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {%  for currency in currencies %}
        <tr>
            <td>{{ currency.id }}</td>
            <td>{{ currency.name }}</td>
            <td>{{ currency.buyRate }}</td>
            <td>{{ currency.sellRate }}</td>
            <td>{{ currency.spread }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}