{% extends 'base.html.twig' %}
{% block body %}

    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}"><b>{{ 'app_home'| trans }}</b></a>
            <div class="ms-auto d-flex gap-2">
                <div>
                    <form action="{{ path('change_language') }}" method="post">
                        <button type="submit" name="language" class="btn-language" value="en" >English</button>
                        <button type="submit" name="language" class="btn-language" value="pl"> Polski</button>
                    </form>
                </div>
                <a href="{{path('registerUser')}}" class="btn btn-menu">{{ 'register' | trans }}</a>
                <a href="{{path('app_login')}}" class="btn btn-menu">{{ 'login' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}