{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h2 style="text-align: center;">{{ 'reportTitle' | trans }}</h2>
        <h4 style="text-align: right; color: grey;">{{ 'generatedDate' | trans }} {{ today }}</h4>
        <table border=1 style="border-collapse: collapse; padding: 5px;">
            <thead style="background-color: #dbcbfa;">
            <tr>
                <th>ID</th>
                <th>{{ 'time' | trans }}</th>
                <th>{{ 'activity' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 1  %}
            {%  for row in data %}
                {% if row[1] != 'Niezalogowany'%}
                    <tr>
                        <td>{{ count }}</td>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% set count = count + 1 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}