{% extends 'base.html.twig' %}

{% block body %}

    {% include 'includes/headerUser.html.twig' %}

    <div class="container justify-content-center w-50">
        <div class="card mt-4 p-3 ">
            <div class="card-body">
                <h3 class="text-center">{{ 'loadImage' | trans }}</h3>
                <div class="d-flex justify-content-center">
                    {% if app.user and app.user.image %}
                        <img class="card-img-top" src="{{ asset(app.user.image) }}" alt="Uploaded photo">
                    {% endif %}
                </div>

                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-12">{{ form_row(form.image) }} </div>
                        <div class="col-6 mt-2">{{ form_row(form.remove, {'label': 'form.removeImage' | trans }) }}</div>
                        <div class="col-6 mt-2">{{ form_row(form.save, {'label': 'form.saveImage' | trans }) }}</div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}