{% extends 'base.html.twig' %}
{% block body %}
    {% include '/includes/header.html.twig' %}
    <div class="container d-flex justify-content-center mt-4">
        <div class="d-flex flex-column gap-2 border rounded p-5 shadow w-50 mt-5" >
            {% if app.flashes('error') %}
                <div class="alert alert-danger">
                    {% for message in app.flashes('error') %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <h2 class="text-center">{{ 'logIn' | trans }}</h2>
            <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ 'errorEmail' | trans }}</div>
            {% endif %}


            <div class="form-floating">
                <input type="email" name="_username" value="{{ last_username }}" id="email" class="form-control" placeholder="E-mail">
                <label for="email">{{ 'email' | trans }}</label>
            </div>
            <div class="form-floating mt-2">
                <input type="password" name="_password" id="password" class="form-control" placeholder="Hasło">
                <label for="password">{{ 'password' | trans }}</label>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-register-login-remindPassword">{{ 'logIn' | trans }}</button>
            </div>
            <div>
                <a href="{{path('remindPassword')}}" class="btn remindPassword">{{ 'remindPassword' | trans }}</a>
            </div>
            <div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
            </form>
        </div>
    </div>

{% endblock %}