{% extends 'base.html.twig' %}
{% block body %}

    {% include 'includes/header.html.twig' %}

    <div class="container d-flex justify-content-center mt-4">
        <div class="d-flex flex-column gap-2 border rounded p-5 shadow w-50" >
            <h2 class="text-center">Zarejestruj się</h2>


            {{ form_start(form) }}
            <div class="form-floating">{{ form_row(form.name) }}</div>
            <div class="form-floating">{{ form_row(form.surname) }}</div>
            <div class="form-floating">{{ form_row(form.email) }}</div>
            <div class="form-floating">{{ form_row(form.password)}}</div>
            <div class="form-floating">{{ form_row(form.submit) }}</div>
            {{form_end(form)}}


        </div>
    </div>

{% endblock %}