{% extends 'base.html.twig' %}

{% block body %}
{% include 'includes/header.html.twig' %}

    <div class="container d-flex justify-content-center mt-4">
        <div class="d-flex flex-column gap-2 border rounded p-5 shadow w-50 mt-5">
            <h2 class="text-center">{{ 'remindPassword' | trans }}</h2>
            <p class="text-remindPassword mt-2">{{ 'remindPasswordInfo' | trans }}</p>

            {% if app.flashes('info') %}
                <div class=" alert alert-danger">
                    {% for message in app.flashes('info') %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if app.flashes('success') %}
                <div class="alert alert-success">
                    {% for message in app.flashes('success') %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST">
                <div class="form-floating">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Adres e-mail">
                    <label for="email">{{ 'email' | trans }}</label>
                </div>
                <button type="submit" class="btn btn-register-login-remindPassword mt-2">{{ 'newPassword' | trans }}</button>
            </form>

        </div>
    </div>


{% endblock %}