{% extends 'base.html.twig' %}

{% block body %}
{% include 'includes/header.html.twig' %}
    <div class="container d-flex justify-content-center mt-4">
        <div class="d-flex flex-column border rounded shadow gap-2 p-5 w-50 mt-5" >
            <h2 class="text-center">Ustaw nowe hasło</h2>
            {% if app.flashes('error') %}
                <div class="alert alert-danger">
                    {% for message in app.flashes('error') %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.flashes('success') %}
                <div class="alert alert-success">
                    {% for message in app.flashes('success') %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
{#            <form method="post">#}
{#                <div class="form-floating mt-2">#}
{#                    <input type="password" name="password" id="password" class="form-control form-control-sm" placeholder="hasło">#}
{#                    <label for="password">Podaj hasło</label>#}
{#                </div>#}
{#                <div class="form-floating mt-2">#}
{#                    <input type="password" name="repeatPassword" id="repeatPassword" class="form-control" placeholder="hasło">#}
{#                    <label for="repeatPassword">Powtórz hasło</label>#}
{#                </div>#}
{#                <div class="mt-2">#}
{#                    <button class="btn btn-register-login-remindPassword" type="submit">Zmień hasło</button>#}
{#                </div>#}
{#            </form>#}

            {{ form_start(form) }}
                <div class="form-floating">{{ form_row(form.password) }}</div>
                <div class="form-floating"> {{ form_row(form.repeatPassword) }}</div>
                <div class="form-floating">{{ form_row(form.submit) }}</div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}