{% extends 'base.html.twig' %}
{% block body %}
{% include'includes/headerUser.html.twig' %}
    <div class="container justify-content-center mt-4">
        <table class="table table-bordered table-hover rounded">
            <thead class="table-header">
            <tr>
                <th>ID</th>
                <th>{{ 'time' | trans }}</th>
                <th>{{ 'activity' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 1  %}
            {%  for row in data %}
                {% if row[1] != 'Niezalogowany'%}
                    <tr>
                        <td>{{ count }}</td>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% set count = count + 1 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}